export default {
	baseUrl: 'https://randomuser.me/api/',
	baseUrlStaging: 'https://randomuser.me/api/',
	baseUrlProduction: 'https://randomuser.me/api/',
	status: 'development', //development,staging,production
	sentry: '',
};
